div, .mat-button {
  padding: 0px;
  margin: 0px;
  size: 12px;
}

.mat-toolbar {
  background: #9900ff;
  color: #fff; 
  margin: 0px;
  width: 100vw;
}

.filler {
    flex: 1 1 auto;
 }

.mat-icon {
  padding: 0px;
  margin: 0px;
}